<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block body %}
    <h2>Want to turn your blog into a business that thrives? You’re in the right place.</h2>

<h2>Blogging has always required a diverse set of skills.</h2>

    <h3>But in today’s competitive landscape we have to adapt to the reality that blogging is about more than just writing & publishing blog posts.</h3>

    <h4>One minute you’re a social media manager, the next you’re building an ecommerce store so your readers can buy merch. Then, you’re building a sales funnel that allows you to sell products while you sleep.</h4>

<h5>Then there’s filming and editing videos, etc.</h5>

<h1>That’s a lot. 🤯</h1>
{% endblock %}